{% load i18n static navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
  <div class="container">
    <div class="dropdown button-dropdown">
      <a href="#pablo" class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
        <span class="button-bar"></span>
        <span class="button-bar"></span>
        <span class="button-bar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-header">AMECRON CONTACTS</a>
        <a class="dropdown-item" rel="tooltip" title="Follow us on Instagram" data-placement="bottom"
           href="#" target="_blank">
          Instagram
          <i class="fa fa-instagram"></i>
          <p class="d-lg-none d-xl-none">Instagram</p>
        </a>
        <a class="dropdown-item" rel="tooltip" title="Follow us on Twitter" data-placement="bottom"
           href="#" target="_blank">
          Twitter
          <i class="fa fa-twitter"></i>
          <p class="d-lg-none d-xl-none">Twitter</p>
        </a>
        <a class="dropdown-item" rel="tooltip" title="Like us on Facebook" data-placement="bottom"
           href="#" target="_blank">
          Facebook
          <i class="fa fa-facebook-square"></i>
          <p class="d-lg-none d-xl-none">Facebook</p>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Offices</a>
      </div>
    </div>
    <div class="navbar-translate">
      <a class="navbar-brand" href="{% pageurl site_root %}" rel="tooltip"
         title="World Class Company" data-placement="bottom">
        amecr<span class="fa fa-gear" style="color:red"></span>n
      </a>
      <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation"
         data-nav-image="{% static 'images/blurred-image-1.jpg' %}">
      <ul class="navbar-nav">
        {% for menuitem in menuitems %}
          <li class="nav-item {% if menuitem.show_dropdown %}has-submenu{% endif %}
            {% if calling_page.url == menuitem.url %} active{% endif %}">
              <a class="nav-link" href="{% pageurl menuitem %}">
                {{ menuitem.title }} <span class="sr-only">(current)</span>
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
