{% load wagtailcore_tags wagtailimages_tags static %}

<div class="section-story-overview">
  {% for blurb in blurbs %}
  <div class="row">
    {% if forloop.counter|divisibleby:2 %}
    <div class="col-md-6">
      <div class="image-container image-left "
           {% image blurb.image original as image %}
           style="background-image: url({{ image.url }})">
        <!-- First image on the left side -->
        <p class="blockquote blockquote-primary">
          {{ blurb.quote }}
        </p>
      </div>
    </div>
    <div class="col-md-5 space-hack">
      <div class="card">
        <div class="card-block">
          <h3 class="text-uppercase text-center">{{ blurb.title }}</h3>
          <p>
            {{ blurb.body }}
          </p>
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-5">
      <div class="card">
        <div class="card-block">
          <h3 class="text-uppercase text-center">{{ blurb.title }}</h3>
          <p>
            {{ blurb.body }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="image-container image-left"
           {% image blurb.image original as image %}
           style="background-image: url({{ image.url }})">
        <!-- First image on the left side -->
        <p class="blockquote blockquote-primary">
          {{ blurb.quote }}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
