{% extends 'layout.html' %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block header %}
<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true"
       {% image page.hero_image original as hero_image %}
       style="background-image: url( {{ hero_image.url }} );">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title">{{ page.hero_image_caption }}</h1>
      <div class="text-center">
        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#pablo" class="btn btn-primary btn-icon btn-round">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block intro %}{% endblock intro %}
{% block content %}
<div class="section section-about-us">
  {% include 'about/include/blurbs.html' with blurbs=page.blurb.all only %}
</div>
<div class="section section-team text-center">
  <div class="container" style="padding-top:150px">
    <h2 class="title">Here is our Team</h2>
    {% include 'utils/include/preview-card.html' with previews=page.home_team.all only %}
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      {% include 'contact/include/office-address.html' with addresses=page.main_office_contact.all only %}
    </div>

  </div>
</section>
{% endblock content %}
